body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('./assets/IMG/background-img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; 
  color: #4a3f35;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 1.5rem;
  color: #4a3f35;
}

button {
  all: unset;
  background-color: #d7c8b9; 
  color: #4a3f35;            
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 30px;
  gap: 2rem;
  background-color: rgba(255, 248, 240, 0.925);
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}